@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  -webkit-tap-highlight-color: transparent;
}

/* nav {
  padding-top: 160px;
} */

@layer base {
  h1,
  h2,
  a,
  p {
    font-family: "Inter", sans-serif;
    color: #333333;
  }
  a:hover {
    color: #d83367;
  }
  h1 {
    @apply text-2xl;
  }
  h2 {
    @apply text-xl;
  }
  a {
    @apply text-xl text-center m-8;
  }
  body {
  }
  :root {
    @apply flex min-h-screen flex-col;
  }
}
